<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-class>org.tedu.servlet.HelloServlet</servlet-class>
  <servlet-name>helloServlet</servlet-name>
  <!-- 启动同时创建servlet -->
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>helloServlet</servlet-name>
  <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-class>org.tedu.servlet.CheckServlet</servlet-class>
  <servlet-name>checkServlet</servlet-name>
  <!-- 启动同时创建servlet -->
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>checkServlet</servlet-name>
  <url-pattern>/check.do</url-pattern>
  </servlet-mapping>
</web-app>
