<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>ls</servlet-name>
  <servlet-class>web.LifeServlet</servlet-class>
  <!-- 为此Servlet预置数据，该数据在TomCat创建servletconfig后
          由config自动获取
   -->
   <init-param>
   <param-name>city</param-name>
   <param-value>北京</param-value>
   </init-param>
   <init-param>
   <param-name>company</param-name>
   <param-value>达内</param-value>
   </init-param>
  <!-- 通知Tomcat在启动时创建此Servlet 
      数字代表多个servlet被创建时的序号
  -->
  <load-on-startup>1</load-on-startup>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>ls</servlet-name>
  <url-pattern>/ls</url-pattern>
  </servlet-mapping>
</web-app>
