<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   
  <!-- 1.注册Servlet -->
  <servlet>
  <!-- servlet-name是给Servlet取一个别名
      便于引用该servlet，该别名只在当前xml文件中
      可以使用 -->
  <servlet-name>helloServlet</servlet-name>
  <servlet-class>
   web.HelloServlet
  </servlet-class>
  </servlet>
  
  <!-- 2.给servlet注册访问路径（网名） -->
  <servlet-mapping>
  <!-- 通过别名引用一个servlet -->
   <servlet-name>helloServlet</servlet-name>
   <!-- 访问路径（网名）,一般以/开头 -->
   <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>
